.maincont{
    width:50%;
    height:100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items:center;
}
.maincont{
    background-color: #fcf8ec;
    flex:0.80;
}
.maincont h4{
    font-size: 18px;
}
.maincont h3{
    font-size: 20px;
}
.maincont button{
     border:none;
}