.item__container{
    background-color: #fcf8ec;
    flex:0.80;
}

.item__order{
    padding:15px;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.2);
}
.item__ordernumber{
    color:rgba(0,0,0,0.5) !important;
    font-weight: 600;
}
.item__order h4{
    font-size:18px;
    font-weight: 600;
}
.item__detail span{
    font-weight: 600;
}
.previous__header{
    display: flex;
    justify-content: space-between;
}
.item__price{
    color:rgba(0,0,0,0.5) !important;
}
.item__number button{
border:none;
color:blue;
}
.item__footer{
    color:rgba(0,0,0,0.5) !important;
    font-size:13px;
    font-weight: 600;
}
.add__item{
    border:1px dotted rgba(0,0,0,0.5);
    border-radius: 8px;
    color:blue;
    width: 90%;
    margin-left: 12px;
}
.previous__item__container{
    padding:15px;
    border-radius: 12px;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.2);
}
.previous__item__header h5{
    font-size: 18px;
    font-weight: 600;
}
.previous__item__header h6{
    color:rgba(0,0,0,0.4) !important;
    font-size:14px;
    font-weight: 600;
}
.previous__item__price{
    font-weight: 600;
}
.previous__item__order h5{
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 4px;
}
.previous__item__container button{
    border:none;
    color:blue;
    font-size: 15px;
    padding:3px 9px;
}
.previous__item__nav{
    background-color:#e7d9ea;
    padding-top:10px;
    padding-left: 10px;
}
.previous{
    font-size: 20px;
    font-weight: 600;
}
a{
    text-decoration: none !important;
    color:black;
}
@media only screen and (max-width: 920px) {
    .item__container{
        background-color: #fcf8ec;
        flex:0.90;
    }
  }
    @media only screen and (max-width: 893px) {
        .item__container{
            background-color: #fcf8ec;
            flex:0.97;
        }
   
  }