.image img{
    height:35px;
    width:35px;
    object-fit: contain;
    border-radius: 50%;
    background-color: gray;
}
.image{
    display: flex;
}
.payment__conntainer{
    padding:20px;
    margin-top:12px;
}
.payment__conntainer h5{
    font-weight:600;
    font-size: 18px;
}
.payment__conntainer h6{
    font-weight:600;
    font-size: 15px;
}
.payment__conntainer button{
    border:none;
    background-color:#fcf8e8;
    color:black;
    border-radius: 5px;
    font-size: 14px;
    padding:9px 30px;
}
.payable h6{
    color:rgba(0,0,0,0.5) !important;
}
label{
    font-size: 15px;
    font-weight: 600;
}
.age{
    color:rgba(0,0,0,0.5) !important;
    font-size: 15;
    font-weight: 600;
}
.payment__conntainer{
    background-color: #d8ac9c;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.2);
    border-radius: 9px;
}
@media only screen and (max-width: 1024px) {
    .payment__conntainer{
        padding:10px;
    margin-top:12px;
    }
    .payment__conntainer button{
        border:none;
        background-color:#fcf8e8;
        color:black;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 0;
    }
    .total{
        margin-top:5px;
        padding-top:14px;
    }

}