.sidebar__container{
    padding:30px;
    flex:0.20;
    display: flex;
    flex-direction: column;
    height:100vh;
    background-color: #d0e8f2;
}
.sidebar__class{
    display: flex;
    flex-direction: column;
    flex:1;
}
.sidebar__menu{
    margin-top: 18px;
    padding-top: 18px;
}
.sidebar__menu h4,.sidebar__footer h4{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 18;
    padding: 6px;
    border-radius: 5px;
}
.sidebar__menu i{
       margin-right: 6px;
}
.sidebar__footer{
    display: flex;
    flex:1;
    flex-direction: column-reverse;
    
}
.sidebar__footer__com img{
    height:35px;
    width:35px;
    object-fit: contain;
    border-radius: 50%;
    background-color: white;
}
.sidebar__footer__com{
    display: flex;
    justify-content: space-between;
    background-color:white;
    padding-top:7px;
    padding-left:7px;
    padding-right: 7px;
    border-radius: 7px;
}
.customer{
    font-size:15px !important;
}
.sidebar__menu h4:hover{
    background-color: white;
    cursor: pointer;
}
@media only screen and (max-width: 920px) {
    .sidebar__container{
        padding:20px;
        flex:0.10;
        display: flex;
        flex-direction: column;
        height:100vh;
        background-color: #d0e8f2;
    }
  }
  @media only screen and (max-width: 1024px) {
    .sidebar__container{
       height:60vh;
    }
  }
  @media only screen and (max-width: 900px) {
    .sidebar__container{
       display: none;
    }
  }