@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
     margin: 0;
     padding:0;
     font-family: 'Poppins', sans-serif;
}
.main__container{
     display: flex;
}
button:focus{
     outline: none !important;
}